@tailwind base;
@tailwind components;
@tailwind utilities;

.-z-1 {
    z-index: -1;
}

/* [id] {
    scroll-margin-top: 100px;
} */

html,
body {
    scroll-behavior: smooth;
}

.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}

.top-50 {
    top: 50%;
}

@keyframes slideAnimation {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* .hero-img {
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
}


.hero-img::after {
    z-index: 1;
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    height: 100px;
} */


.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  


.rounded-social:hover > svg > path{
    fill: black;
}

.scrollbar::-webkit-scrollbar{
    display: none;
}

.scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.enlarge-animate{
    transition: ease-in-out 150ms 300ms;
    transform: translate(0, 0);
}

.enlarge-animate:hover{
    transform: translateY(-1px) scale(1.1);
}

/*Hamburger Menu*/
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #ffff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }


  #return-to-top {
    bottom: 20px;
    right: 20px;
    background: rgb(238, 228, 228);
    background: rgba(247, 241, 241, 0.7); 
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(80, 63, 63, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


.showcase::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}




